body {
    background: url("../images/gameBackground.gif");
    background-size: cover;



}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    border-bottom: 3px double black;
}

.box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    margin-bottom: 80px;
    width: 400px;
    padding: 10px;
    font-weight: bold;
}



.container {
    float: left;
    width: 30%;
    background: white;
    margin-top: 35vh; 
    padding: 10px;
    border-radius: 40px;

}

.container1 {
    display: block;
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    text-align: center;
}

.container2 {
    float: right;
    width: 31%;
    background: white;
    margin-top: 35vh; 
    padding: 10px;
    border-radius: 40px;


}

.wins,
.loss {
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-weight: bold;
    border-bottom: 3px double black;
    font-size: 30px;
    
}

.randomNumber {
    float: none;
    padding: 10px;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
}

.para4 {
    font-weight: bold;
    text-align: center;
    border-bottom: 3px double black;
    font-size: 30px;
}

.myTotalScore {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
}

.button {
    height: 100px;
    width: 100px;
    border-radius: 40px;
}